@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9xdqia');
  src:  url('fonts/icomoon.eot?9xdqia#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9xdqia') format('truetype'),
    url('fonts/icomoon.woff?9xdqia') format('woff'),
    url('fonts/icomoon.svg?9xdqia#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-square:before {
  content: "\e901";
  color: #fff;
}
.icon-linkedin-square:before {
  content: "\e902";
  color: #fff;
}
.icon-Arrow:before {
  content: "\e900";
  color: #fff;
}
